<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="goodsVO" class="exam02.GoodsVO">
		<constructor-arg value="10"/>
		<constructor-arg value="축구공"/>
		<constructor-arg value="10"/>
		<constructor-arg value="35000"/>
	</bean>
	
	<bean id="goodsDAO" class="exam02.GoodsDAO">
		<property name="goodsVO" ref="goodsVO"></property>
	</bean>
</beans>


