<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="deptVO" class="exam01.DeptVO">
		<property name="dno" value="10"/>			
		<property name="dname" value="개발1팀"/>			
		<property name="dloc" value="종각"/>			
	</bean>
	
	<bean id="deptDAO" class="exam01.DeptDAO">
		<property name="deptVO" ref="deptVO"/>
	</bean>
</beans>











