<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="zipFilter" class="exam05.ZipFilter"/>
	<bean id="encryptionFilter" class="exam05.EncryptionFilter"/>
	
	<bean id="ph" class="exam05.ProtocolHandler">
		<property name="filters">
			<list>
				<ref local="encryptionFilter"/>
				<ref local="zipFilter"/>
				<bean class="exam05.HeaderFilter"/>
			</list>
		</property>
	</bean>
	
</beans>
