<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="mySqlArticleDAO" class="exam07.MySqlArticleDAO"></bean>
	<!-- <bean id="mySqlArticleDAO2" class="exam07.MySqlArticleDAO"></bean> -->
	<bean id="ws" class="exam07.WriteArticleServiceImple"
		autowire="byType"/>
</beans>
