<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="worker" class="diTest08.Worker">
		<constructor-arg value="spring"/>
		<constructor-arg value="20"/>		
	</bean>
	
<!--  	<bean id="executor" class="diTest08.Executor">
		<constructor-arg ref="worker"/>
	</bean> -->
	
	<bean id="executor" class="diTest08.Executor">
		<constructor-arg value="summer"/>
	</bean>
		
</beans>